body{



background-image: url("https://th.bing.com/th/id/OIP.A82m1024w9mAS6k5GA9qFQHaHa?rs=1&pid=ImgDetMain");

color: antiquewhite;
    text-align: center;
    font-family:'Times New Roman', Times, serif

}