body  {
text-align: center;
  
background-image: url(https://th.bing.com/th/id/OIP.uEfwaalRcGWGgoUEnxKSuAHaEJ?rs=1&pid=ImgDetMain);
font-family: Impact,'Arial Narrow Bold', sans-serif;
color: rgb(114, 45, 160);
}