h1 {
    text-align: center;
    color: color rgb(248, 252, 255);
}

p {
    color: rgb(179, 59, 59);
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(179, 59, 59);
    text-align: center;
}

body {
    background-color: orange
}

h3 {
    color: orange;
}

.sidebyside {
    display: flex;
    justify-content: space-evenly;
}

.sidebyside img {
    width: 23%;
    height: 160px;

}

a {
    color: brown;
}

h2 {
    text-align: center;
    color: brown;
}

@media (max-width: 800px) {
    img {
        display: block;
        width: 125px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .Gustavo {
        width: 150px;
        height: 150px;
    }

    .Logo {
        width: 200px;
        height: 250px;
    }

}

@media (min-width: 800px) {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .sidebyside {
       width: 100%;
    }

    .sidebyside img {
        width: 15%;
        height: 160px;
        margin-left: 3%;
        margin-right: 3%;
    }
}

.Gustavo {
    width: 150px;
    height: 150px;
}

.Logo {
    width: 150px;
    height: 200px;
}