body {
    background-image: url(https://i.pinimg.com/736x/12/3f/f2/123ff2fe58086262ea9aad1811ffd2e8--block-wall-wood-blocks.jpg);
}


.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    gap: 20px;

    margin-left: 200px;
    margin-right: 200px;
    color: lightgoldenrodyellow;

    p {
        text-align: center;
  
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }


}
