body {

    background-image: url("https://img.freepik.com/premium-photo/wood-parquet-tiled_924688-1410.jpg");
    color: hsl(0, 100%, 97%);
    font-family: 'Arial Narrow Bold', sans-serif;
    width: 100%;
    margin: 0;
}

header img {
    width: 100%;
}

main {
    display: flex;
    width: 100%;
}

p {
    text-align: left
}

main aside {
    width: 10%;
}

main article {
    width: 90%;
}

article img {
    width: 850px;
}
.side-by-side {
    display: grid;grid-template-columns: 60% 40%;
} 

.side-by-side img {
    width: 100%; 
    height: 50%;
}
.side-by-side div p{
    word-wrap: break-word;
}